<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<!-- @author ANDRÉS FELIPE MERA TRÓCHEZ -->

<main class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
                <thead class="bg-primary navbar-dark text-white">
                    <tr>
                        <th>Titulo del Contenido</th>
                        <th>Nombre del Genero</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</main>
<script src="appclient/js/listarContenidoGenero.js" type="text/javascript"></script>